body{
    color: rgb(131, 162, 189);
    text-align: center;  
    font-family: "Orbitron", sans-serif;
    margin: 0;
}

#hero{
    
    background-image: url("img/giphy\ galaxy.gif");
    background-size:cover;
    padding: 10px 0 240px 0px;
}

#title{
    text-shadow: 0px 0px 4px black;
}

#main-logo{
    width: 100px ;
}


.btn{
    padding: 5px 12px ;
    background: white;
    border: none;
    font-family: "Orbitron", sans-serif;
    color: rgb(131, 162, 189);
    font-weight: 800;
}


.underline{
    border-bottom: 4px solid white;
}

